#menu {
  width: 98%;
}

#menuItem {
  display: inline;
  margin-right: 1%;
  color: black;
}

#menuTitle {
  font-size: 27px;
  display: inline;
  margin-right: 20px;
}

#menuItem a {
  color: black;
}